{% load static %}
{% load i18n %}

<div class="sidebar-menu">
    <ul id="accordion-menu">
        <li>
            <a href="{% url 'course_list' %}" class="dropdown-toggle no-arrow">
                <span class="micon dw dw-house-1"></span><span class="mtext">{% translate "Home" %}</span>
            </a>
        </li>
        <li class="last">
            <a href="javascript:;" class="dropdown-toggle no-arrow collapse-menu-btn">
                <span class="micon dw dw-left-chevron-1"></span><span class="mtext">{% translate "Collapse" %}</span>
            </a>
        </li>
    </ul>
</div>
