<!DOCTYPE html>
{% load i18n %}
{% load form_tags %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}

<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% translate "QuestEd" %}{% endblock %}</title>

    <!-- Site favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'vendors/images/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'vendors/images/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'vendors/images/favicon-16x16.png' %}">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/styles/core.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/styles/icon-font.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/styles/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'src/styles/custom.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'src/plugins/jquery-steps/jquery.steps.css' %}">
</head>
<body {% if not is_index %}class="login-page"{% endif %}>
	<nav class="login-header box-shadow">
		<div class="container-fluid d-flex justify-content-between align-items-center">
			<div class="brand-logo">
				<a href="/{{ LANGUAGE_CODE }}">
					<img src="{% static 'src/images/quested_light.png' %}" alt="Logo">
				</a>
			</div>
			<div class="login-menu">
				<ul class="container-fluid d-flex justify-content-between align-items-center">
                {% if user.is_authenticated %}
					<li class="mr-2 text-primary"><a href="{% url 'profile' %}">Profile</a></li>
					<li class="text-secondary"><a href="{% url 'logout' %}?next=/login">Logout</a></li>
                {% else %}
					<li class="mr-2 text-primary"><a href="{% url 'login' %}">Login</a></li>
					<li class="text-secondary"><a href="{% url 'register' %}">Register</a></li>
                {% endif %}
				</ul>
			</div>
		</div>
	</nav>

    <div class="register-page-wrap d-flex align-items-center flex-wrap justify-content-center">
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </div>

    <!-- success Popup html Start -->
    <button type="button" id="success-modal-btn" hidden data-toggle="modal" data-target="#success-modal" data-backdrop="static">Launch modal</button>
    <div class="modal fade" id="success-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered max-width-400" role="document">
            <div class="modal-content">
                <div class="modal-body text-center font-18">
                    <h3 class="mb-20">Thank you for subscribing to our services!</h3>
                    <div class="mb-30 text-center"><img src="{% static 'vendors/images/success.png' %}"></div>
                    We're excited to help your business thrive with our powerful photo management tools.
                </div>
                <div class="modal-footer justify-content-center">
                    <a href="{% url 'register' %}" class="btn btn-primary">Start now!</a>
                </div>
            </div>
        </div>
    </div>
    <!-- success Popup html End -->

    <!-- Error Popup html Start -->
    <button type="button" id="error-modal-btn" hidden data-toggle="modal" data-target="#error-modal" data-backdrop="static">Launch modal</button>
    <div class="modal fade" id="error-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered max-width-400" role="document">
            <div class="modal-content">
                <div class="modal-body text-center font-18">
                    <h3 class="mb-20">Error with your submission!</h3>
                    <div class="mb-30 text-center"><img src="{% static 'vendors/images/error.png' %}"></div>
                    <span id="error-message">We are sorry. Something went wrong. Please try again!</span>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-primary" onclick="hideErrorModal();">Retry!</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Error Popup html End -->

    <!-- js -->
    <script type="text/javascript">
    var DebugMode = false;
    function hideErrorModal() {
        $('#error-modal').modal('hide');
    }
    </script>
    <script src="{% static 'vendors/scripts/core.js' %}"></script>
    <script src="{% static 'vendors/scripts/script.min.js' %}"></script>
    <script src="{% static 'vendors/scripts/process.js' %}"></script>
    <script src="{% static 'vendors/scripts/layout-settings.js' %}"></script>
    <script src="{% static 'src/plugins/jquery-steps/jquery.steps.js' %}"></script>
    <script src="{% static 'vendors/scripts/steps-setting.js' %}"></script>

    {% block scripts %}{% endblock %}
</body>
</html>