{% extends 'registration/base_register.html' %}
{% load static %}

{% block content %}

<div class="row align-items-center">
    <div class="col-md-6 col-lg-7">
        <img src="{% static 'vendors/images/register-page-img-new.png' %}" alt="">
    </div>
    <div class="col-md-6 col-lg-5">
        <div class="register-box bg-white box-shadow border-radius-10">
            <div class="wizard-content">
                <form class="tab-wizard-company wizard-circle wizard" method="POST" action="{% url 'create_company' %}">
                    {% csrf_token %}
                    <h5>Create New Company</h5>
                    <section>
                        <div class="form-wrap max-width-600 mx-auto">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Company Name*</label>
                                <div class="col-sm-8">
                                    <input type="text" name="name" class="form-control" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Address*</label>
                                <div class="col-sm-8">
                                    <input type="text" name="address" class="form-control" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Country*</label>
                                <div class="col-sm-8">
                                    <select name="country" class="form-control" required>
                                        <!-- List of countries goes here -->
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">State/Province*</label>
                                <div class="col-sm-8">
                                    <select name="state_province" class="form-control" required>
                                        <!-- List of countries goes here -->
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">City*</label>
                                <div class="col-sm-8">
                                    <select name="city" class="form-control" required>
                                        <!-- List of countries goes here -->
                                    </select>
                                </div>
                            </div>
                        </div>
                    </section>
                    <h5>Company Info</h5>
                    <section>
                        <div class="form-wrap max-width-600 mx-auto">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Postal Code</label>
                                <div class="col-sm-8">
                                    <input type="text" name="postal_code" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">International Phone</label>
                                <div class="col-sm-8">
                                    <input type="tel" name="international_phone" class="form-control"
                                           value="1-(111)-111-1111">
                                </div>
                            </div>
                        </div>

                        <!-- Number of employees -->
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Number of Employees</label>
                            <div class="col-sm-8">
                                <div class="input-group bootstrap-touchspin bootstrap-touchspin-injected">
                                    <input id="number_of_employees" type="number" value="1" name="number_of_employees" class="form-control">
                                </div>
                            </div>
                        </div>

                        <!-- Photographic fields -->
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Photographic Fields</label>
                            <div class="col-sm-8">
                                <select class="custom-select2 form-control" multiple="multiple" name="photographic_fields" style="width: 100%;">
                                    <optgroup label="Fields (one or more):">
                                        {% for value, display_name in photographic_fields %}
                                        <option value="{{ value }}">{{ display_name }}</option>
                                        {% endfor %}
                                    </optgroup>
                                </select>
                            </div>
                        </div>
                    </section>
                    <h5>Employees Administrator</h5>
                    <section>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Name*</label>
                            <div class="col-sm-8">
                                <input type="text" name="admin_name" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Surname*</label>
                            <div class="col-sm-8">
                                <input type="text" name="admin_surname" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Username*</label>
                            <div class="col-sm-8">
                                <input type="text" name="admin_username" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Password*</label>
                            <div class="col-sm-8">
                                <input type="password" name="admin_password" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Confirm Password*</label>
                            <div class="col-sm-8">
                                <input type="password" name="admin_cnf_password" class="form-control" required>
                            </div>
                        </div>
                    </section>
                    <!--                      <button type="submit" class="btn btn-primary">Create Company</button>-->
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
  if ('serviceWorker' in navigator) {
    window.addEventListener('load', () => {
      navigator.serviceWorker.register('{% static 'js/countries_worker.js' %}').catch((error) => {
        console.error('Service Worker registration failed:', error);
      });
    });
  }

</script>
<!-- countries js -->
<script src="{% static 'js/countries.js' %}"></script>
<!-- switchery js -->
<script src="{% static 'src/plugins/switchery/switchery.min.js' %}"></script>
<!-- bootstrap-tagsinput js -->
<script src="{% static 'src/plugins/bootstrap-tagsinput/bootstrap-tagsinput.js' %}"></script>
<!-- bootstrap-touchspin js -->
<script src="{% static 'src/plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.js' %}"></script>
<script src="{% static 'vendors/scripts/advanced-components.js' %}"></script>
{% endblock %}