{% extends '../base_generic.html' %}
{% load i18n %}
{% load static %}

{% block content %}
<div class="container mt-5 xs-pd-20-10">
    <div class="min-height-200px">
        <div class="page-header">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="title">
                        <h4>{% translate "Profilo" %}</h4>
                    </div>
                    <nav aria-label="breadcrumb" role="navigation">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/{{ LANGUAGE_CODE }}">{% translate "Home" %}</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{% translate "Profilo" %}</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Profile Picture and Details -->
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-30">
                <div class="pd-20 card-box height-100-p">

                    <!-- User's profile picture -->
                    <div class="profile-photo">
                        <a href="#modal" data-toggle="modal" data-target="#modal" class="edit-avatar"><i class="fa fa-pencil"></i></a>
<!--                        {% if user.userprofile.profile_image %}-->
<!--                            <img src="{{ user.userprofile.profile_image.url }}" alt="{% translate 'Profile Image' %}" class="avatar-photo">-->
<!--                        {% else %}-->
                            <img src="{% static 'vendors/images/default_user_img.jpg' %}" alt="{% translate 'Default Profile Image' %}" class="avatar-photo">
<!--                        {% endif %}-->
                        <!-- Modal for profile picture update -->
                        <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                  <div class="modal-body pd-5">
                                    <form id="profile-picture-form" enctype="multipart/form-data" method="post" action="#">
                                      {% csrf_token %}
                                      <div class="img-container">
<!--                                        {% if user.userprofile.profile_image %}-->
<!--                                          <img id="image_picture" class="profile_image" src="{{ user.userprofile.profile_image.url }}" alt="{% translate 'Picture' %}">-->
<!--                                        {% else %}-->
                                          <img id="image_default" class="profile_image" src="{% static 'vendors/images/default_user_img.jpg' %}" alt="{% translate 'Picture' %}">
<!--                                        {% endif %}-->
                                      </div>
                                      <div class="form-group m-3">
                                        <label>{% translate 'Upload a new picture' %}</label>
                                        <div class="custom-file">
                                          <input type="file" class="custom-file-input" accept="image/png, image/jpeg, image/gif" name="profile-image" onchange="previewImage(event)">
                                          <label class="custom-file-label">{% translate 'Choose file' %}</label>
                                        </div>
                                      </div>
                                    </form>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" onclick="updateProfilePicture()">{% translate 'Update' %}</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{% translate 'Close' %}</button>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- User's profile -->
                    <div class="profile-details">
                        <h5 class="text-center h5 mb-0">
                            {{ user.get_full_name }}
                            {% if user.username %}
                                ({{ user.username }})
                            {% endif %}
                        </h5>
                    </div>
                    <div class="profile-info">
                        <h5 class="mb-20 h5 text-blue">{% translate 'Contact Information' %}</h5>
                        <ul>
                            <li>
                                <span>{% translate 'Email Address:' %}</span>
                                {% if user.email %}
                                    {{ user.email }}
                                {% else %}
                                    {% translate 'Not set' %}
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Settings Tab -->
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 mb-30">
                <div class="card-box height-100-p overflow-hidden">
                    <div class="profile-tab height-100-p">
                        <div class="tab height-100-p">
                            <ul class="nav nav-tabs customtab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#setting" role="tab">{% translate 'User Settings' %}</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <!-- Settings Tab Start -->
                                <div class="tab-pane fade height-100-p show active" id="setting" role="tabpanel">
                                    <div class="profile-setting">
                                        <form method="post" action="{% url 'profile' %}">
                                            {% csrf_token %}
                                            <ul class="profile-edit-list row">
                                                <li class="weight-500 col-md-12">
                                                    <h4 class="text-blue h5 mb-20">{% translate 'Edit Your Personal Setting' %}</h4>
                                                    <div class="form-group row">
                                                        <div class="col-lg-6">
                                                            <label>{% translate 'First Name' %}</label>
                                                            <input class="form-control form-control-lg" type="text" name="first_name" value="{{ request.user.first_name }}" required>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <label>{% translate 'Last Name' %}</label>
                                                            <input class="form-control form-control-lg" type="text" name="last_name" value="{{ request.user.last_name }}" required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>{% translate 'Username' %}</label>
                                                        <input class="form-control form-control-lg" type="text" name="nickname" value="{{ request.user.username|default:'' }}" disabled>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>{% translate 'Email' %}</label>
                                                        <input class="form-control form-control-lg" type="email" name="email" value="{{ request.user.email }}">
                                                    </div>

                                                    <div class="form-group mb-0" style="display: flex; gap: 1.5rem; justify-content: space-between;">
                                                        <input type="submit" class="btn btn-primary" value="{% translate 'Update Information' %}">
                                                        <a href="{% url 'password_reset' %}" class="btn btn-warning">{% translate 'Reset Password' %}</a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </form>
                                    </div>
                                </div>
                                <!-- Settings Tab End -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Settings Tab -->
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script>
    function previewImage(event) {
        var preview = document.querySelector('.profile_image');
        preview.src = URL.createObjectURL(event.target.files[0]);
    }

    function updateProfilePicture() {
        var form = document.querySelector('#profile-picture-form');
        var formData = new FormData(form);
        fetch('#', {
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            }
        }).then(response => {
            if (response.ok) {
                location.reload();
            } else {
                alert('Failed to update profile picture.');
            }
        }).catch(error => {
            alert('Failed to update profile picture.');
        });
    }

    var input = document.querySelector('.custom-file-input');
    input.addEventListener('change', previewImage);
</script>
{% endblock %}
