<!DOCTYPE html>
{% load static %}
{% load i18n %}
{% load form_tags %}
{% get_current_language as LANGUAGE_CODE %}

<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% translate "QuestEd" %}{% endblock %}</title>

    <!-- Site favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'vendors/images/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'vendors/images/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'vendors/images/favicon-16x16.png' %}">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/styles/core.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/styles/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/styles/icon-font.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'src/styles/custom.css' %}">

    {% block head_scripts %}{% endblock %}
</head>
<body {% if not is_index %}class="login-page"{% endif %}>
	<nav class="login-header box-shadow">
		<div class="container-fluid d-flex justify-content-between align-items-center">
			<div class="brand-logo">
				<a href="/{{ LANGUAGE_CODE }}">
					<img src="{% static 'src/images/quested_light.png' %}" alt="Logo">
				</a>
			</div>
			<div class="login-menu">
				<ul class="container-fluid d-flex justify-content-between align-items-center">
                {% if user.is_authenticated %}
					<li class="nav-item dropdown text-primary">
                        <a class="nav-link dropdown-toggle" href="#" id="languageDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% translate "Lingua" %}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="languageDropdown">
                            <form action="{% url 'set_language' %}" method="post">
                                {% csrf_token %}
                                {% for code, name in languages %}
                                    <button class="dropdown-item" type="submit" name="language" value="{{ code }}">{{ name }}</button>
                                {% endfor %}
                            </form>
                        </div>
                    </li>
					<li class="text-primary">
                        <a href="{% url 'profile' %}">{% translate "Profilo" %}</a>
                    </li>
					<li class="text-secondary">
                        <a href="{% url 'logout' %}?next=/login">{% translate "Esci" %}</a>
                    </li>
                {% else %}
					<li class="text-primary">
                        <a href="{% url 'login' %}">{% translate "Login" %}</a>
                    </li>
					<li class="text-secondary">
                        <a href="{% url 'register' %}">{% translate "Registrati" %}</a>
                    </li>
                {% endif %}
				</ul>
			</div>
		</div>
	</nav>

    <div class="container {% if is_index %}index-page{% else %}mt-5{% endif %} {% if fixed_footer %}with-fixed-footer{% endif %}">
        {% block content %}
        {% endblock %}
    </div>

    <div class="{% if fixed_footer %}fixed-bottom{% endif %} d-flex justify-content-between p-3 bg-light" style="{% if not has_footer %}display: none !important;{% endif %}">
        {% block footer %}
        {% endblock %}
    </div>

    {% block swiper %}{% endblock %}

    <!-- JS -->
    <script src="{% static 'vendors/scripts/core.js' %}"></script>
    <script src="{% static 'vendors/scripts/script.min.js' %}"></script>
    <script src="{% static 'vendors/scripts/process.js' %}"></script>
    <script src="{% static 'vendors/scripts/layout-settings.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/components/prism-c.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/components/prism-cpp.min.js"></script>

    {% block scripts %}{% endblock %}
</body>
</html>
