<!DOCTYPE html>
{% load static %}
{% load i18n %}
{% load form_tags %}
{% get_current_language as LANGUAGE_CODE %}

<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% translate "QuestEd" %}{% endblock %}</title>

    <!-- Site favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'vendors/images/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'vendors/images/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'vendors/images/favicon-16x16.png' %}">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/styles/core.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/styles/icon-font.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'src/plugins/datatables/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'src/plugins/datatables/css/responsive.bootstrap4.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/styles/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'src/styles/custom.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" rel="stylesheet">
    <link id="prism-theme" rel="stylesheet" />
</head>
<body>
    <div class="pre-loader">
        <div class="pre-loader-box">
            <div class="loader-logo">
                <img src="{% static 'src/images/quested_dark.png' %}"
                     alt=""
                     style="width: 280px;"
                     data-dark-src="{% static 'src/images/quested_dark.png' %}"
                     data-light-src="{% static 'src/images/quested_light.png' %}">
            </div>
            <div class='loader-progress' id="progress_div">
                <div class='bar' id='bar1'></div>
            </div>
            <div class='percent' id='percent1'>0%</div>
            <div class="loading-text">
                Loading...
            </div>
        </div>
    </div>
    
    <div class="header">
        <div class="header-left">
            {% include "headers/header_left.html" %}
        </div>
        <div class="header-right">
            {% include "headers/header_right.html" %}
        </div>
    </div>
	
    <div class="right-sidebar">
        {% include "sidebars/sidebar_right.html" %}
    </div>
	
	<div class="left-side-bar">
        <div class="brand-logo">
            <a href="/">
                <img src="{% static 'src/images/quested_light.png' %}" alt="" class="dark-logo">
                <img src="{% static 'src/images/quested_dark.png' %}" alt="" class="light-logo">
            </a>
            <div class="close-sidebar" data-toggle="left-sidebar-close">
                <i class="ion-close-round"></i>
            </div>
        </div>
        <div class="menu-block customscroll">
            {% include "sidebars/sidebar_left.html" %}
        </div>
    </div>
    <div class="mobile-menu-overlay"></div>

    <div class="main-container">
        {% block content %}{% endblock %}

        <div class="footer-wrap pd-20 mb-20 card-box">
            {% translate "QuestEd" %} {% translate "è sviluppato e mantenuto da" %} <a href="https://github.com/denisbilli" target="_blank">Denis Billi</a>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>

    <!-- js -->
    <script src="{% static 'vendors/scripts/core.js' %}"></script>
    <script src="{% static 'vendors/scripts/script.js' %}"></script>
    <script src="{% static 'vendors/scripts/process.js' %}"></script>
    <script src="{% static 'vendors/scripts/layout-settings.js' %}"></script>

    <!-- Javascript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-c.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-cpp.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-csharp.min.js"></script>
    <script>
        document.addEventListener('dblclick', function(event) {
            event.preventDefault();
        }, { passive: false });

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        const csrftoken = getCookie('csrftoken');

        $('#mark-all-read').click(function(e) {
            e.preventDefault();
            $.ajax({
                url: '/mark-all-notifications-read/', // URL della vista AJAX per segnare tutte le notifiche come lette
                method: 'POST',
                headers: {'X-CSRFToken': getCookie('csrftoken')},
                success: function(response) {
                    // Aggiorna l'UI per riflettere che tutte le notifiche sono state lette
                    // Ad esempio, puoi nascondere il badge delle notifiche non lette
                    $('.badge.notification-active').hide();
                    // Opzionale: Aggiorna la lista delle notifiche
                },
                error: function() {
                    console.error('Error marking all notifications as read.');
                }
            });
        });

        document.addEventListener('DOMContentLoaded', function() {
            document.addEventListener('click', function(event) {
                if (!event.target.closest('.sidebar-menu')) {
                    //console.log("click fuori!");
                    var elementsToShow = document.querySelectorAll('.collapsed-sidebar-mode .sidebar-menu li.show a[data-option="on"]');
                    //console.log(elementsToShow);

                    elementsToShow.forEach(function(element) {
                        element.click();
                    });
                }
            });
        });

        document.addEventListener("DOMContentLoaded", function() {
            function loadPrismTheme() {
                const isDarkMode = document.body.classList.contains('dark-mode');
                const themeLink = document.getElementById('prism-theme');
                if (isDarkMode) {
                    themeLink.href = 'https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism-tomorrow.min.css';
                } else {
                    themeLink.href = 'https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css';
                }
            }

            // Initial load
            loadPrismTheme();

            // Optional: Listen for theme changes
            const observer = new MutationObserver(loadPrismTheme);
            observer.observe(document.body, {
                attributes: true,
                attributeFilter: ['class']
            });
        });
    </script>
    {% block custom_js %}{% endblock %}

    <!-- Stili -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    {% block scripts %}{% endblock %}
    {% block custom_css %}{% endblock %}

</body>
</html>