<!-- base.html -->

<!DOCTYPE html>
{% load i18n %}
{% load form_tags %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}

<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% translate "QuestEd" %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{% static 'styles.css' %}" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/{{ LANGUAGE_CODE }}">
            <img src="{% static 'QuestEd_logo.svg' %}" alt="Logo" width="70" height="70">
            <span class="logo-text">{% translate "QuestEd" %}</span>
        </a>
        <!-- Titolo del Corso al Centro -->
        <div class="mx-auto">
            {% block course_title %}{% endblock %}
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="languageDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% translate "Lingua" %}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="languageDropdown">
                            <form action="{% url 'set_language' %}" method="post">
                                {% csrf_token %}
                                {% for code, name in languages %}
                                    <button class="dropdown-item" type="submit" name="language" value="{{ code }}">{{ name }}</button>
                                {% endfor %}
                            </form>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% blocktrans with firstname=user.first_name lastname=user.last_name %}Ciao, {{ firstname }} {{ lastname }}{% endblocktrans %}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="{% url 'profile' %}">{% translate "Profilo" %}</a>
                            {% if user.is_superuser or user.is_staff %}
                                <a class="dropdown-item" href="{% url 'admin:index' %}">{% translate "Amministrazione" %}</a>
                            {% endif %}
                            <div class="dropdown-divider"></div>
                            <form method="post" action="{% url 'logout' %}">
                                {% csrf_token %}
                                <button type="submit" class="dropdown-item">{% translate "Esci" %}</button>
                            </form>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">{% translate "Registrazione/Login" %}</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="container mt-5">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Javascript -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/components/prism-c.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/components/prism-cpp.min.js"></script>
    {% block custom_js %}{% endblock %}

    <!-- Stili -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/themes/prism.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <style>
        body {

        }
        .container {
            min-height: 100vh;
            margin-bottom: 100px;
        }
        textarea, .codearea {
            width: 100%;
            height: 70vh !important;
        }
        pre {
          max-height: 60vh !important; /*workaround for Prism scrollbars*/
        }
    </style>
    {% block custom_css %}{% endblock %}
</body>
</html>
