<!-- exercise_list.html -->
{% extends 'base.html' %}
{% load i18n %}

{% block content %}
  <div class="d-flex justify-content-between">
    <h2>{{ test.name }}</h2>
    <div class="d-flex justify-content-end align-items-center flex-grow-1">
      {% if test.is_graded %}
        <h4 class="mx-auto">{% translate "Punteggio totale" %}: {{ total_score }}</h4>
      {% endif %}
      <button id="toggleView" class="btn btn-info mr-2">{% translate "Tabella" %}</button>
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {% translate "Nessun filtro" %}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item exercise-filter" href="#" data-filter="all">{% translate "Nessun filtro" %}</a>
          <a class="dropdown-item exercise-filter" href="#" data-filter="O">{% translate "Domanda aperta" %}</a>
          <a class="dropdown-item exercise-filter" href="#" data-filter="M">{% translate "Scelta multipla" %}</a>
          <a class="dropdown-item exercise-filter" href="#" data-filter="C">{% translate "Codice" %}</a>
          <a class="dropdown-item exercise-filter" href="#" data-filter="D">{% translate "Diagramma di flusso" %}</a>
        </div>
      </div>
      {% if test.is_graded %}
      <div class="dropdown ml-2">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownSortButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {% translate "Punteggio più basso" %}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownSortButton">
          <a class="dropdown-item sort-filter" href="#" data-sort="score:asc">{% translate "Punteggio più basso" %}</a>
          <a class="dropdown-item sort-filter" href="#" data-sort="score:desc">{% translate "Punteggio più alto" %}</a>
        </div>
      </div>
      {% endif %}
    </div>
  </div>

  <div class="row cards-view" id="exercise-cards">
    {% for exercise in exercises %}
      <div class="col-sm-4 mb-4 exercise-card mix" data-type="{{ exercise.type }}" {% if exercise.test.is_graded %}data-score="{{ exercise.score }}"{% else %}data-score="0"{% endif %}>
        <div class="card h-100">
          <div class="card-body d-flex flex-column align-items-center justify-content-center">
            <h5 class="card-title text-center">
              <a href="{% url 'submit_exercise' exercise.id %}">{{ exercise.title }}</a>
                {% if request.user.is_superuser %}
                    <span class="badge badge-secondary">{{ exercise.signed_count }}</span>
                    <span class="badge badge-info">{{ exercise.average_rating|default:'N/A'|floatformat:1 }}</span>
                {% endif %}
                {% if exercise.id in completed_exercises %}
                    <i class="fas fa-check"></i>
                {% elif exercise.id in signed_exercises %}
                    <i class="fas fa-flag"></i>
                {% endif %}
            </h5>
            <p class="card-text"><small class="text-muted">{{ exercise.get_type_display }}</small></p>
            {% if exercise.test.is_graded %}<p class="card-text"><small class="text-muted">{% translate "Punti" %}: {{ exercise.score }}</small></p>{% endif %}
          </div>
        </div>
      </div>
    {% empty %}
      <p>Non ci sono esercizi.</p>
    {% endfor %}
  </div>

  <div class="table-view" id="exercise-table" style="display: none;">
      <table class="table">
          <thead>
              <tr>
                  <th scope="col">{% translate "Titolo" %}</th>
                  <th scope="col">{% translate "Tipologia" %}</th>
                  <th scope="col">{% translate "Punteggio" %}</th>
              </tr>
          </thead>
          <tbody>
              {% for exercise in exercises %}
                  <tr class="exercise-element mix" data-type="{{ exercise.type }}" {% if exercise.test.is_graded %}data-score="{{ exercise.score }}"{% else %}data-score="0"{% endif %}>
                      <td>
                          <a href="{% url 'submit_exercise' exercise.id %}">{{ exercise.title }}</a>
                          {% if request.user.is_superuser %}
                              <span class="badge badge-secondary">{{ exercise.signed_count }}</span>
                          {% endif %}
                          {% if exercise.id in completed_exercises %}
                              <i class="fas fa-check"></i>
                          {% elif exercise.id in signed_exercises %}
                              <i class="fas fa-flag"></i>
                          {% endif %}
                      </td>
                      <td>{{ exercise.get_type_display }}</td>
                      <td>{% if exercise.test.is_graded %}{{ exercise.score }}{% endif %}</td>
                  </tr>
              {% empty %}
                  <tr>
                      <td colspan="3">{% translate "Non ci sono esercizi." %}</td>
                  </tr>
              {% endfor %}
          </tbody>
      </table>
  </div>
{% endblock %}

{% block footer %}
    <button type="button" onclick="location.href='{% url 'test_list_by_course' course_id=test.course.id %}'" class="btn btn-secondary">{% translate "Indietro" %}</button>
{% endblock %}

{% block custom_css %}
<script src="https://cdn.jsdelivr.net/npm/mixitup@3/dist/mixitup.min.js"></script>
<script>
$(document).ready(function() {
  var mixer = mixitup('#exercise-cards', {
    "load": {
        "sort": "score:asc"
    },
    "animation": {
        "duration": 250,
        "nudge": true,
        "reverseOut": false,
        "effects": "fade translateZ(-100px)"
    }
  });
  mixer.filter('.exercise-card');

  var mixer2 = mixitup('#exercise-table', {
    "load": {
        "sort": "score:asc"
    },
    "animation": {
        "duration": 250,
        "nudge": true,
        "reverseOut": false,
        "effects": "fade translateZ(-100px)"
    }
  });
  mixer2.filter('.exercise-element');

  $(".exercise-filter").click(function(e) {
      e.preventDefault();
      var selectedType = $(this).data('filter');
      var filterText = $(this).text();
      console.log(selectedType);
      if (selectedType == 'all') {
          mixer.filter('.exercise-card'); // This will show all exercises
          mixer2.filter('.exercise-element'); // This will show all exercises
      } else {
          mixer.filter('.exercise-card[data-type="' + selectedType + '"]'); // This will filter based on the selected type
          mixer2.filter('.exercise-element[data-type="' + selectedType + '"]'); // This will filter based on the selected type
      }
      $('#dropdownMenuButton').text(filterText);
  });

  $(".sort-filter").click(function(e) {
      e.preventDefault();
      var sortValue = $(this).data('sort');
      var sortText = $(this).text();
      $('#dropdownSortButton').text(sortText);
      mixer.sort(sortValue);
  });

  $('#toggleView').click(function() {
      $('.cards-view').toggle();
      $('.table-view').toggle();
  });
});
</script>
{% endblock %}

