<!-- register.html -->

{% extends 'base.html' %}
{% load form_tags %}
{% load static %}
{% load i18n %}
{% block content %}
<div class="main-container container-fluid h-100">
    <!-- Image container with 60% width -->
    <div class="col-md-7 h-100">
        <img src="{% static 'welcome_screen.jpg' %}" alt="Welcome" class="img-fluid h-100">
    </div>

    <!-- Form container with 40% width -->
    <div class="login-register-container col-md-5 h-100">
        <!-- Tab structure for Registration and Login -->
        <div class="tab">
            <button class="tablinks btn btn-primary active" onclick="openForm(event, 'Login')">{% translate "Login" %}</button>
            <button class="tablinks btn btn-secondary" onclick="openForm(event, 'Register')">{% translate "Registrazione" %}</button>
        </div>

        <div id="Login" class="tabcontent" style="display:block;">
            <form method="post">
                {% csrf_token %}
                {% for field in login_form %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field|add_class:"form-control" }}
                        {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text }}</small>
                        {% endif %}
                    </div>
                {% endfor %}
                <button class="btn btn-primary" type="submit" name="login">{% translate "Accedi" %}</button>
            </form>
        </div>

        <div id="Register" class="tabcontent">
            <form method="post">
                {% csrf_token %}
                {% for field in register_form %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field|add_class:"form-control" }}
                        {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text }}</small>
                        {% endif %}
                    </div>
                {% endfor %}
                <button class="btn btn-primary" type="submit" name="register">{% translate "Registrati" %}</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block custom_css %}
<style>
.main-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.login-register-container {
    background: #f6f6f6;
    padding: 0 !important;
    border-radius: 10px;
    border: 1px solid #ececec;
    border-radius: 10px;
    overflow: hidden; /* Nasconde i bordi delle linguette non attive */

}

.tab {
    display: flex;
}

.tablinks {
    flex: 1;
    border: none;
    padding: 10px;
    margin: 0;
    border-radius: 10px 10px 0 0; /* Arrotonda solo i bordi superiori */
    background-color: #f0f0f0; /* Sfondo chiaro per le linguette */
    color: black; /* Colore del testo */
    transition: background-color 0.3s, color 0.3s; /* Transizione per hover */
}

.tablinks:hover {
    background-color: #e0e0e0; /* Sfondo più scuro al passaggio del mouse */
    color: white; /* Colore del testo al passaggio del mouse */
}

.tablinks.active {
    background-color: white; /* Sfondo bianco per la linguetta attiva */
    color: black; /* Colore del testo per la linguetta attiva */
    border-bottom: 1px solid white; /* Nasconde il bordo inferiore per fondersi con il contenitore */
}

.image-container {
    flex: 1;
    /* Additional styles for the image can be added here */
}

.form-container {
    flex: 1;
    overflow-y: auto;
}

.tabcontent {
    display: none;
    padding: 20px;
}

/* Additional styles for tabs and forms */
</style>
{% endblock %}

{% block custom_js %}
<script>
function openForm(evt, formName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    var currentVisible;
    for (i = 0; i < tabcontent.length; i++) {
        if (tabcontent[i].style.display !== 'none') {
            currentVisible = tabcontent[i];
        }
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    var newVisible = document.getElementById(formName);
    animateChange(currentVisible, newVisible);
    evt.currentTarget.className += " active";
}

function animateChange(oldElement, newElement) {
    if (oldElement) {
        var newHeight = newElement.scrollHeight + 'px';
        oldElement.style.height = newHeight;
        oldElement.style.opacity = '0';
    }
    setTimeout(function() {
        if (oldElement) {
            oldElement.style.display = 'none';
        }
        newElement.style.display = 'block';
        newElement.style.height = newElement.scrollHeight + 'px';
        newElement.style.opacity = '1';
    }, 100); // Delay equal to the transition duration
}

// Initial CSS for animations
document.addEventListener("DOMContentLoaded", function() {
    var tabcontents = document.getElementsByClassName("tabcontent");
    for (var i = 0; i < tabcontents.length; i++) {
        tabcontents[i].style.transition = 'height 0.5s, opacity 0.5s';
        tabcontents[i].style.overflow = 'hidden';
        if (tabcontents[i].id !== 'Login') {
            tabcontents[i].style.display = 'none';
            tabcontents[i].style.height = '0';
            tabcontents[i].style.opacity = '0';
        }
    }
});
</script>


{% endblock %}
