{% extends 'base.html' %}
{% load i18n %}
{% load form_tags %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="mb-3 text-primary">{{ exercise.title }}</h1>
            <h5 class="mb-3 text-muted">{% translate "Tipologia" %}: {{ exercise.get_type_display }}</h5>
            {% if exercise.test.is_graded %}
                <h3 class="mb-3 text-success">{% translate "Punti" %}: {{ exercise.score }}</h3>
            {% endif %}
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6">
            <h5 class="mb-3 text-info">{% translate "Descrizione" %}:</h5>
            <div class="text-justify">{{ exercise.description|safe }}</div>
        </div>
        <div class="col-md-6">
            <h5>{% translate "Risposta" %}:</h5>
            <form action="{% url 'submit_exercise' exercise.id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% if exercise.type == 'O' %}
                    <div class="form-group">
                      <textarea class="form-control" name="answer_text" rows="5">{% if submission %}{{ submission.answer_text }}{% elif not exercise.test.is_graded %}{{ exercise.expected_answer }}{% endif %}</textarea>
                    </div>
                {% elif exercise.type == 'M' %}
                    {% for choice in exercise.choices.all %}
                      <div class="form-check {% if choice.is_correct %}correct{% endif %}">
                        <input class="form-check-input" type="radio" name="answer_choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" {% if submission and submission.answer_choice.id == choice.id %}checked{% endif %}>
                        <label class="form-check-label" for="choice{{ forloop.counter }}">
                          {{ choice.text }}
                        </label>
                      </div>
                    {% endfor %}
                {% elif exercise.type == 'C' %}
<pre>
<code class="language-cpp" id="answer">#include &#60;iostream&#62;

int main() {
    // {% translate "Scrivi qui il tuo esercizio" %}
    return 0;
}</code>
</pre>
                {% if exercise.test.is_graded %}
                    <!-- <button type="button" onclick="pasteCode()" class="btn btn-primary">{% translate "Incolla il tuo codice" %}</button> -->
                    <div class="custom-file mt-3">
                        <input type="file" class="custom-file-input" id="submitFile" name="file" accept=".cpp">
                        <label class="custom-file-label" for="submitFile">{% translate "Scegli il file" %}</label>
                    </div>
                {% endif %}
                <input type="hidden" name="answer_text" id="answer_text" value="{% if submission %}{{ submission.answer_text }}{% elif not exercise.test.is_graded %}{{ exercise.expected_answer }}{% endif %}">
                {% elif exercise.type == 'D' %}
                    <div class="form-group">
                      <textarea class="form-control" name="answer_text" rows="5" {% if not exercise.test.is_graded %}id="open_answer" style="display: none"{% endif %}>{% if submission %}{{ submission.answer_text }}{% elif not exercise.test.is_graded %}{{ exercise.expected_answer }}{% endif %}</textarea>
                    </div>
                {% endif %}
                <div class="fixed-bottom d-flex justify-content-between p-3 bg-light">
                    {% if not exercise.test.is_graded %}
                        <button type="button" onclick="showSolution()" class="btn btn-info" id="btnShowSolution">{% translate "Mostra soluzione" %}</button>
                        <input type="checkbox" name="signed" id="checkboxSignExercise" style="display: none;" {% if user_exercise.signed %}checked{% endif %}>
                        <button onclick="flagExercise(this.form)" class="btn {% if not user_exercise.signed %}btn-success{% else %}btn-danger{% endif %}" id="btnSignExercise">{% if not user_exercise.signed %}{% translate "Contrassegna" %}{% else %}{% translate "Rimuovi contrassegno" %}{% endif %}</button>
                        <div class="d-flex align-items-center">
                            <span class="mr-3">{% translate "Ti è sembrato facile questo esercizio?" %}</span>
                            <div class="star-rating">
                                {% for star in "54321"|make_list %}
                                    <input id="star{{ star }}" type="radio" name="rating" value="{{ star }}" {% if user_exercise.stars == star|to_int %}checked{% endif %} onchange="this.form.submit()">
                                    <label for="star{{ star }}" title="{{ star }} stars">&#9733;</label>
                                {% endfor %}
                            </div>
                        </div>
                    {% else %}
                        <button type="submit" class="btn btn-primary" id="btnSendAnswer">{% translate "Invia Risposta" %}</button>
                    {% endif %}
                    <button type="button" onclick="location.href='{% url 'exercise_list' exercise.test.id %}'" class="btn btn-secondary">{% translate "Indietro" %}</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}


{% block custom_css %}
<style>
input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 3px;
    background-clip: content-box;
    border: 2px solid #bbbbbb;
    background-color: #e7e6e7;
    border-radius: 50%;
}

.form-check-label {
    margin-left: 20px;
    line-height: 2.5em;  /* Adjust this value as per your requirement */
}

input[type="radio"]:checked {
    background-color: #4a90e2;
}

div.form-check {
    display: flex;
    align-items: center;
}
.star-rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    width: 120px;
}

.star-rating input {
    display: none;
}

.star-rating label {
    color: lightgray;
    font-size: 30px;
}

.star-rating input:checked ~ label,
.star-rating label:hover,
.star-rating label:hover ~ label {
    color: gold;
}
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mermaid/9.0.0/mermaid.min.js"></script>
<script>
    var is_graded = "{{ exercise.test.is_graded|escapejs }}" == 'False' ? false : true;

    function highlightCode() {
        Prism.highlightAll();
    }

    function pasteCode() {
        const codeElement = document.querySelector('#answer');
        const hiddenInput = document.querySelector('#answer_text');

        navigator.clipboard.readText().then((text) => {
            hiddenInput.value = text;

            html_text = Prism.highlight(text, Prism.languages.cpp, 'cpp');
            codeElement.innerHTML = html_text;
        });
    }

    function showSolution() {
        const codeElement = document.querySelector('#answer');
        const hiddenInput = document.querySelector('#answer_text');
        const openAnswer = $('#open_answer');

        const wrongChoices = $('.form-check');
        wrongChoices.css('color', 'red');

        const correctChoice = $('.form-check.correct');
        correctChoice.css('color', 'green');

        if(hiddenInput != null) {
            html_text = Prism.highlight(hiddenInput.value, Prism.languages.cpp, 'cpp');
            codeElement.innerHTML = html_text;
        }

        if(openAnswer != null) {
            openAnswer.fadeIn();
        }
    }

    function flagExercise($form) {
        const flagCheckbox = document.getElementById("checkboxSignExercise");
        flagCheckbox.checked = !flagCheckbox.checked;
        $form.submit();
    }

    $(document).ready(function() {
        const codeElement = document.querySelector('#answer');
        const hiddenInput = document.querySelector('#answer_text');
        const openAnswer = $('#open_answer');
        const mermaidElements = $(".mermaid").length;

        if(hiddenInput != null && hiddenInput.value != "" && is_graded) {
            html_text = Prism.highlight(hiddenInput.value, Prism.languages.cpp, 'cpp');
            codeElement.innerHTML = html_text;
        } else {
            highlightCode();
        }

        if(openAnswer != null) {
            openAnswer.hide();
        }

        if(mermaidElements > 0) {
            // diagrammi di flusso
            mermaid.initialize({
                startOnLoad: true,
                theme: 'normal'
            });
        }

        // on file input change
        $('#submitFile').on('change', function () {
            // get file name
            var fileName = $(this).val().split('\\').pop();
            // replace the "Choose a file" label
            $(this).next('.custom-file-label').html(fileName);
        })
    });
</script>
{% endblock %}