<!-- test_list.html -->
{% extends 'base.html' %}
{% load i18n %}

{% block content %}
{% if tests %}
  <table class="table mt-5">
    <thead>
      <tr>
        <th scope="col">{% translate "Test" %}</th>
        <th scope="col">{% translate "Descrizione" %}</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for test in tests %}
        <tr class="{% if test.is_graded %}table-success{% endif %}">
          <td class="align-middle">{{ test.name }}</td>
          <td class="align-middle">{{ test.description|safe }}</td>
          <td class="align-middle">
            {% if test.is_graded %}
              <a class="btn btn-success" href="{% url 'exercise_list' test.id %}">{% translate "Inizia Test" %}</a>
            {% else %}
              <a class="btn btn-primary" href="{% url 'exercise_list' test.id %}">{% translate "Mostra Esercizi" %}</a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p class="mt-5">{% translate "Non ci sono test attivi." %}</p>
{% endif %}
{% endblock %}
