{% extends 'admin/base_site.html' %}
{% load i18n admin_urls %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
        &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
        &rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
        &rsaquo; {{ object.name }}
    </div>
{% endblock %}
{% block content %}

    <h1>Users per Test for {{ object.name }}</h1>

    <dl>
        <dt>Test Name:</dt>
        <dd>{{ object.name }}</dd>
        <dt>Description:</dt>
        <dd>{{ object.description }}</dd>
    </dl>

    <h2>Users:</h2>
    <ul>
        {% for user, submissions in user_submissions.items %}
            <li>
                <a href="{% url 'user_test_report' test_pk=object.pk user_pk=user.pk %}">{{ user.username }}</a>
            </li>
        {% empty %}
            <li>No users have submitted for this test yet.</li>
        {% endfor %}
    </ul>

{% endblock %}
